<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #signoForm="ngForm">

  <div [hidden]="true">
      <mat-form-field>
          <input matInput placeholder="ID" required formControlName="id">
      </mat-form-field>
  </div>
  <mat-form-field>
    <input type="text" placeholder="Paciente" matInput [matAutocomplete]="autoPaciente"
        [formControl]="myControlPaciente" formControlName="paciente">

    <mat-autocomplete #autoPaciente="matAutocomplete" [displayWith]="mostrarPaciente">
        <mat-option *ngFor="let p of pacientesFiltrados$ | async" [value]="p">
            {{ p.nombres }} {{p.apellidos}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<!--<mat-form-field class="example-full-width">
      <input  matInput placeholder="Fecha" required formControlName="fecha">
  </mat-form-field>-->

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Escoge una fecha" [max]="maxFecha" formControlName="fecha"
        [(ngModel)]="fechaSeleccionada">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Temperatura" required formControlName="temperatura">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Ritmo Cardiaco" required formControlName="ritmoCardiaco">
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="signoForm.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/pages/signo-vital' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
  </button>
</form>

<br />
